.about {
    width: 90%;
    margin: 5rem auto;
    color: #000;


    &__heading {
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: .2rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;

    }

    &__card {
        width: 20%;
        background: #fff;
        border: 1px solid #ccc;
        margin-bottom: 5rem;

        &--header {
            text-align: center;
            padding: 5rem 1rem;
            background: linear-gradient(to right, #ff416c, #ff4b2b);
            color: #fff;
        }

        &--body {
            padding: 3rem 2rem;
            text-align: center;
            font-size: 1.8rem;

        }

    }



}


@media screen and (max-width:1000px) {
    .about__card {
        width: 40%;
    }

}

@media screen and (max-width:620px) {
    .about {
        width: 100%;

        &__heading {
            padding: 2rem;
            font-size: 2rem;
        }

        &__card {
            width: 80%;
        }
    }



}