@import '../../App.styles.scss';

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.pexels.com/photos/1049626/pexels-photo-1049626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo {
    height: 10rem;

}

.nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

nav ul {
    display: flex;


    & li {
        list-style: none;

        text-transform: uppercase;
        letter-spacing: .5rem;

        font-size: 1.8rem;

        &:not(:last-child) {
            padding-right: 2rem;
        }

        & a {
            text-decoration: none;
            color: $main-color;
        }
    }
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.heading-primary {
    color: $main-color;
    text-transform: uppercase;

    &-main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3rem;
    }

    &-sub {
        display: block;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 2.9rem;
    }
}


@media screen and (max-width:750px) {
    .nav-box {
        padding: 1rem;
    }

    nav {
        & ul {
            display: block;
        }

    }

    .text-box {}

    .heading-primary {


        &-main {
            font-size: 4.5rem;
            letter-spacing: 2rem;
        }

        &-sub {
            font-size: 3rem;
            letter-spacing: 1.5rem;
            word-spacing: 1rem;

        }
    }

}

@media screen and (max-width:450px) {
    .nav-box {
        padding: 1rem .5rem;
    }

    nav ul li {
        font-size: 1.4rem;

        &:not(:last-child) {
            padding-right: 0;
        }
    }

    .heading-primary {


        &-main {
            font-size: 3.5rem;
            letter-spacing: .7rem;
        }

        &-sub {
            font-size: 2.5rem;
            letter-spacing: .5rem;
            word-spacing: 1rem;

        }
    }

}